{% extends "base.html" %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
    {% block content%}
        <div class="container">
            <h2>News sources</h2>
            <div class="row" >{% for news_source in sources %}
                <div class="col-md-3 text-center">
                    
                   <h3>{{news_source.name}}</h3>
                   <p>{{news_source.description}}</p>
                   <a href="{{news_source.url}}"><button class="btn btn-primary">Read more</button></a>
                    
                </div>{% endfor %}
            </div >
        </div>
    {% endblock %}
    </body>
</html>